<!DOCTYPE html>
<%- include ('./partials/head.ejs') %>
<html lang="en">
    <%- include ('./partials/nav.ejs') %>

    <div class="details content">
        <h2><%= course.subject %></h2>
        <h3><%= course.name %></h3>
        <p><%= course.credits %> credits</p>
        <p><%= course.description %></p>
        <% if (user.teacher) { %>
        <a class="delete" data-doc="<%=course._id %>" src="../public/trashcan.svg">Delete</a>
        <% } else { %>
        <a class="add" data-doc="<%=course._id %>" src="../public/plus.svg">Add to my schedule</a>
        <% } %>
    </div>

    <%- include ('./partials/footer.ejs') %> 
 
    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/courses/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: `DELETE`
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
    </script>

<script>
    const plus = document.querySelector('a.add');
    const schedule = user.schedule;

    plus.addEventListener('click', (e) => {
        fetch(endpoint, {
            method: `POST`
        })
        .then(schedule.push(plus.dataset.doc));
        res.redirect('/schedule');
        // const endpoint = `/schedule/${plus.dataset.doc}`;

        // .then(response => response.json())
        // .then(data => window.location.href = data.redirect)
        // .catch(err => console.log(err));
    })
</script>


</html>